
__pycache__/beautiful_soup_cleaner.cpython-38.pyc
__pycache__/component_evaluator.cpython-38.pyc
.DS_Store
*.pyc
.idea/vcs.xml
.idea/PCPartPicker-Analyzer.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
link_compiler/chromedriver.exe
link_compiler/geckodriver.log
chromedriver
